sudo: false
language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "iojs"
  - 4
  - 6
  - 8
  - 10
  - 12
  - node

matrix:
  include:
    - name: Lint
      node_js: 12
      script: npm run lint
